.credSection {
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    justify-content: space-between;
    display: flex;
    margin-top: 50px;
    padding: 50px 250px 50px 250px;
}

.credSection > img {
    height: fit-content;
    width: 100px;
}

@media only screen and (max-width: 1070px) {
    .credSection{
        padding: 50px 100px;
    }
}

@media only screen and (max-width: 830px) {
    .credSection > img {
        height: fit-content;
        width: 50px;
    }
}

@media only screen and (max-width: 550px) {
    .credSection {
        padding: 50px 10px;
    }
    .credSection > img {
        height: fit-content;
        width: 30px;
    }
}