.footer {
    display: flex;
    justify-content: space-between;
    padding: 100px 250px;
}

.footer__first {
    display: flex;
    flex-direction: column;
}

.footer__firstLandkit {
    font-size: 24px;
    font-weight: 700;
    color: #335EEA;
}

.footer__firstDesc {
    font-size: 18px;
    font-weight: 600;
    color: #4D6186;
}

.footer__icons {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.footer__icons > * , .footer__third >*, .footer__fourth > *, .footer__fifth > *{
    color: #4D6186;
}

.footer__second {
    display: flex;
    flex-direction: column;
}

.footer__second > span, .footer__third>span ,.footer__fourth> span, .footer__fifth>span{
    font-size: 14px;
    font-weight: 600;
    color: #4D6186;
    margin-bottom: 20px;
}

.footer__second > div {
    display: flex;
    flex-direction: column;
}

.footer__second > div > span, .footer__third > div > span, .footer__fourth>div>span, .footer__fifth>div>span {
    font-size: 18px;
    font-weight: 600;
    color: #4D6186;
    margin-bottom: 10px;
}

.footer__third{
    display: flex;
    flex-direction: column;
}

.footer__third > div {
    display: flex;
    flex-direction: column;
}


.footer__fourth{
    display: flex;
    flex-direction: column;
}

.footer__fourth > div {
    display: flex;
    flex-direction: column;
}

.footer__fifth {
    display: flex;
    flex-direction: column;
}

.footer__fifth > div {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1300px) {
    .footer__firstDesc {
        font-size: 14px;
    }

    .footer__icons {
        font-size: 12px;
    }
    .footer__firstLandkit {
        font-size: 20px;
    }

    .footer__second > div > span, .footer__third > div > span, .footer__fourth>div>span, .footer__fifth>div>span  {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1110px) {
    .footer {
        padding: 100px 100px;
    }
}

@media only screen and (max-width: 1300px) {
    .footer__firstDesc {
        font-size: 12px;
    }

    .footer__icons {
        font-size: 10px;
    }
    .footer__firstLandkit {
        font-size: 16px;
    }

    .footer__second > div > span, .footer__third > div > span, .footer__fourth>div>span, .footer__fifth>div>span  {
        font-size: 12px;
    }
}

@media only screen and (max-width: 700px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer__first, .footer__second, .footer__third, .footer__fourth, .footer__fifth {
        align-items: center;
        width: 300px;
        margin-bottom: 20px;
    }
}