.heroSection {
    display: flex;
    flex-direction: column;
    padding: 100px 250px 0px 250px;
    margin-top: 100px;
}

.heroSection__top {
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.heroSection__topLeft {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.heroSection__topLeft > h1 {
    font-weight: 500;
    font-size: 36px;
}

.heroSection__topLeft > h1 > span {
    color: #335EEA;
}

.heroSection__topLeft > h3 {
    font-size: 18px;
    color: #4D6186;
    font-weight: 500;
}

.heroSection__topLeftBtn {
    display: flex;
}

.heroSection__topLeft1Btn {
    background-color: #335EEA !important;
    margin-right: 8px !important;
    color: white !important; 
}

.heroSection__topLeftBtn > button {
    padding: 12px 18px;
    background-color: #EBEDFC;
    font-weight: 600;
    font-size: 12px;
    color: #335EEA;
}

.heroSection__topRight > img {
    width: 500px;
}

.heroSection__bottom{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1365px) {
    .heroSection {
        padding: 100px;
    }

    .heroSection__top {
        flex-direction: column-reverse;
        align-items: center;
        height: 600px;
    }

    .heroSection__topLeft {
        height: 300px;
        padding-bottom: 50px;
        padding-top: 50px;
  }

  .heroSection__topLeft > h3 {
      margin-top: 20px;
  }

  .heroSection__topLeftBtn {
      margin-top: 30px;
  }

  .heroSection__bottom {
      flex-direction: column;
      /* align-: center; */
  }
}

@media only screen and (max-width: 600px) {

    .heroSection__topRight {
        width: 400px;
    }

    .heroSection__topRight > img {
        width: 100%;
    }

    .heroSection__topLeft > h1 {
        font-size: 18px;
    }

    .heroSection__topLeft > h3 {
        font-size: 16px;
    }

    .heroSection__topLeftBtn {
        flex-direction: column;
    }

    .heroSection__topLeftBtn > button {
        width: 180px !important;
    }

    .heroSection__topLeft{
        width: 300px;
    }

}

@media only screen and (max-width: 600px){  
    .heroSection__topRight {
        width: 300px;
    }   
}