.statsSection {
    padding: 50px 10px 100px 250px;
    display: flex;
    justify-content: space-between;
}

/* left side */

.statsSection__left {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.statsSection__leftHead {
    font-size: 30px;
    font-weight: 600;
}

.statsSection__leftHead > span {
    color: #335EEA;
}

.statsSection__leftDesc {
    font-size: 20px;
    font-weight: 500;
    color: #4D6186;
}

.statsSection__leftMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
}

.statsSection__leftMain > div {
    display: flex;
    align-items: flex-start;
}

.statsSection__leftMain > div > div > span {
    color: #4D6186;
    font-weight: 500;
    font-size: 18px;
}

.statsSection__leftMainIcon {
    font-size: 40px;
    margin-top: 5px;
    margin-right: 30px;
    color: #335EEA;
}

@media only screen and (max-width: 1422px) {
    .statsSection {
        justify-content: space-evenly;
    }
    .statsSection__left {
        width: 400px;
    }
    
    .statsSection__right {
        width: 400px;
    }
}

@media only screen and (max-width: 1142px) {
    .statsSection {
        padding-left: 100px;
        padding-right: 100px;
        flex-direction: column;
        align-items: center;   
    }

    .statsSection__left {
        height: 400px;
        width: 300px;
    }

    .statsSection__right {
        width: fit-content;
        margin-top: 100px;
    }
}

@media only screen and (max-width: 662px) {
    .statsSection {
        padding-left: 50px;
        padding-right: 50px;
    }

    .statsSection__right {
        width: 400px;
    }

    .statsSection__right > img {
        width: 100%;
    }

    .statsSection__leftHead{
        font-size: 22px;
    }

    .statsSection__leftDesc {
        font-size: 16px;
    }

    .statsSection__leftMain > div > div > span {
        font-size: 14px;
    }
}

@media only screen and (max-width: 450px) {
    .statsSection__right {
        width: 300px;
    }

}