.apiPage{
    padding: 100px 200px;
    display: flex;
    row-gap: 50px;
    column-gap: 50px;
    flex-wrap: wrap;
   
}

.apiPage__container {
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07);
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .apiPage > img {
    height: 200px;
    width: 200px;
} */

.apiPage__container > div {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 960px) {
    .apiPage{
        padding: 50px 50px;
    }
}