.login {
    display: flex;
    padding-top: 200px;
    flex-direction: column;
    align-items: center;
}

.login > h1 {
    margin-bottom: 20px;
}

.login > form {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.login>form>input, .login>form>textarea  {
    margin-bottom: 20px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.login > form > button {
    background-color: #52BA96;
    color: white;
}